*{
    margin:0px;}

#main, #canvas{
    border: 2px whitesmoke;

}
#canvas{
    width: 400px;
    height: 780px;
    margin:auto;
}

.heading{
    margin-top: 10px;
    padding:10px;
    margin-top: 10px;
}